html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 360px) {
    html {
      font-size: 45%; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  background-color: var(--Light-grayish-cyan); }

.container {
  display: grid;
  justify-content: center;
  align-items:center;
  height:100vh;
/*   margin-top: 10rem; */
}
  @media (max-width: 750px) {
    .container {
      margin-top: 4rem; } }

.logo-box {
  text-align: center;
  margin-bottom: 4rem; }

.restrict {
  color: var(--color-restrict) !important; }

.hidden {
  display: none; }

.calculator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  background-color: var(--White);
  padding: 2.5rem;
  border-radius: 1.5rem; }
  @media (max-width: 750px) {
    .calculator {
      grid-template-columns: 1fr;
      row-gap: 3rem; } }

.calculation {
  border-radius: 0.5rem; }
  .calculation__input-text {
    font-family: "Space Mono", monospace;
    line-height: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--Dark-grayish-cyan);
    padding-bottom: 0.8rem; }
  .calculation__input {
    width: 100%;
    border: none;
    background-color: var(--input-back);
    outline: none;
    text-align: right;
    padding: 0.3rem 0;
    font-family: "Space Mono", monospace;
    padding-right: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 0.5rem;
    color: #00474b;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s; }
  .calculation__input:focus, .calculation__input:hover {
    border: 2px solid var(--input-border); }
  .calculation__icon {
    position: absolute;
    left: 4%;
    top: 30%;
    height: 1.4rem;
    z-index: 10; }
  .calculation__btns {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 32.4%); }
  .calculation__btn {
    border-radius: 0.5rem;
    font-family: "Space Mono", monospace;
    padding: 0.5rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    transition: all 0.2s;
    font-weight: 600;
    cursor: pointer;
    text-align: center; }
  .calculation__btn-bg {
    color: var(--White);
    background-color: var(--tip-btn-back); }
  .calculation__btn-bg:focus, .calculation__btn-bg:hover {
    background-color: #9fe8df;
    color: var(--tip-btn-hover-color); }

.custom {
  background-color: var(--input-back);
  color: var(--tip-btn-hover-color);
  border: 2px solid transparent; }

.custom:focus,
.custom:hover {
  border: 2px solid var(--input-border); }

.display {
  background-color: var(--Very-dark-cyan);
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  padding: 3rem; }
  .display__text-main {
    color: var(--White);
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 600;
    font-family: "Space Mono", monospace; }
  .display__text-sub {
    font-size: 1.2rem;
    line-height: 1.9rem;
    font-weight: 600;
    color: #7f9d9f;
    font-family: "Space Mono", monospace; }
  .display__value {
    color: #26c2ae;
    font-family: "Space Mono", monospace;
    font-size: 3rem;
    font-weight: 600;
    line-height: 7rem; }
  .display__btn {
    align-self: flex-end;
    background-color: #26c2ae;
    border: none;
    outline: none;
    padding: 1rem 0;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--Very-dark-cyan);
    text-transform: uppercase;
    cursor: pointer; }
  .display__btn:hover, .display__btn:focus {
    background-color: #9fe8df; }
.display__tip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center; }

:root {
  --Strong-cyan: rgb(38, 192, 171);
  --Very-dark-cyan: rgb(0, 73, 77);
  --tip-btn-hover-color:rgba(0, 71, 75, 1);
  --Dark-grayish-cyan: rgb(94, 122, 125);
  --Dark-grayish-cyan2: rgb(127, 156, 159);
  --Light-grayish-cyan: rgb(197, 228, 231);
  --Light-grayish-cyan2: rgb(244, 250, 250);
  --input-back:rgba(243, 249, 250, 1);
  --input-border:rgba(38, 194, 174, 1);
  --White: rgb(255, 255, 255);
  --tip-btn-back:rgba(0, 71, 75, 1);
  --custom-text-color: rgba(84, 120, 120, 1);
  --color-restrict:rgba(225, 116, 87, 1); }

.margin-top-2 {
  margin-top: 2rem; }

.margin-top-3 {
  margin-top: 3rem; }

.margin-top-4 {
  margin-top: 4rem; }

.margin-top-6 {
  margin-top: 6rem; }

.margin-top-8 {
  margin-top: 8rem; }
